@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-top: 6em;
  width: 100%;
  height: 82vh;
  border-bottom: 1px solid black;
}

.topstory-btn-main {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-topstories {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 6em;
  width: 100%;
}

.curly {
  position: absolute;
  width: 80%;
}

.redLine {
  padding-top: 1em;
  position: absolute;
  width: 80%;
}

.search-icon {
  width: 1.5em;
}

.ticker {
  font-size: 1.3rem;
  height: 40px;
  margin-top: 0.5em;
  color: #0071bc;
}

.search {
  color: black;
  padding-left: 1em;
}

.input-field {
  padding-top: 1em;
  padding-left: 1em;
  display: flex;

  height: 44px;
}

label {
  font-size: 1rem;
}

input {
  background-color: transparent;
  width: 50%;
  border: none;
  outline: none;
  border-radius: none;
  padding: 5px 5px;
  border-bottom: 1px solid black;
  box-shadow: none;
  color: black;
  font-size: 1rem;
}

.img-left {
  padding-top: 1em;
  width: 70%;
}

.btn-topstories {
  margin-top: 1em;
  border: 1px solid black;
  font-size: 13px;
  padding: 1em;
  background-color: white;
}

.img-right {
  padding-left: 1em;
  padding-top: 1em;

  width: 100%;
  height: 70%;
}

.s {
  height: 100%;
  border-right: 1px solid black;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100%;
}

body {
  font-family: 'Krona One', sans-serif;
  width: 80%;
  margin: 0 auto;
  background: rgb(251, 254, 255);
}

.test {
  display: table;
  /* Make the container element behave like a table */
  width: 100%;
}

.d {
  border-top: 1px solid black;
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-flow: column repeat(3, 1fr);
}

img {
  width: 100%;
}

.readme-img {
  left: 35%;
  position: absolute;
  width: 7em;
}

.img-article {
  padding-top: 30px;
  padding-bottom: 30px;
}

.read {
  color: black;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.main {
  height: 100%;
  max-width: 380px;
  min-height: 300px;
}

.article {
  height: 100%;
  border-top: 1px solid black;
}

.article-header {
  margin-bottom: 30px;
}

.article-author {
  font-size: 15px;
  margin-bottom: 15px;
}

.cursor {
  width: 40px;
  height: 40px;
  border: 2px solid #fefefe;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  transition: all 150ms ease;
  transition-property: opacity;
}

.cursor--hidden {
  opacity: 0;
}

.article-date {
  color: #ff947b;
  margin-top: 15px;
  font-size: 18px;
}

p {
  font-size: 13px;
}

a {
  color: black;
}

.arrow {
  width: 10px;
}

.greatday {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.goback {
  justify-content: left;
  text-align: left;
}

.backarrow {
  margin-top: 3em;
  width: 100px;
}

.arrow2 {
  margin-bottom: 1em;
  width: 50px;
}

.square {
  width: 30px;
}

.article-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0%;
  margin: auto;
  display: flex;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0%;
  text-transform: uppercase;
  font-size: 40px;
  z-index: 2;
}
.footer {
  border-top: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0%;
  text-transform: uppercase;
  font-size: 40px;
  z-index: 2;
  align-items: center;
}

.filter-text {
  padding-left: 1em;
  padding-top: 1em;
}

.time {
  margin: 0;
  font-size: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.square-footer {
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000000;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
}

nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  top: 0%;
  text-transform: uppercase;
  background-color: #ffffff;
  border-bottom: 1px solid black;
  display: flex;
  position: fixed;
  z-index: 10;
}

/*Styling logo*/
.logo {
  padding: 1vh 1vw;
  text-align: center;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo img {
  height: 5rem;
  width: 5rem;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;

  align-items: center;
  text-transform: uppercase;
}

.nav-links li a {
  font-size: 10px;
  text-decoration: none;
  margin: 0 0.7vw;
}

.nav-links li a:hover {
  color: #ff947b;
}

.nav-links li {
  position: relative;
}

.nav-links li a:hover::before {
  width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger div {
  width: 30px;
  height: 3px;
  background: #000000;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }

  .nav-links {
    position: fixed;
    background: #131418;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }

  .nav-links.open {
    color: white;
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }

  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }

  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }

  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }
}

.topStories {
  padding-bottom: 1em;
}

/*Animating Hamburger Icon on Click*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.submit {
  font-family: 'Krona One', sans-serif;
  font-size: 0.7rem;
  color: black;
  padding: 15px 35px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
}

.submit:after,
.submit:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid black;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.submit:after {
  -webkit-transform: translate(3px, 3px);
  transform: translate(3px, 3px);
}

.submit:before {
  -webkit-transform: translate(-3px, -3px);
  transform: translate(-3px, -3px);
}

.submit:hover:after,
.submit:hover:before {
  -webkit-transform: translate(0);
  transform: translate(0);
}

.draw {
  cursor: pointer;
  font-family: 'Krona One', sans-serif;
  background: none;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-right: 1em;
  padding: 1em 2em;
  -webkit-box-shadow: inset 0 0 0 1px #8bd1a0;
  box-shadow: inset 0 0 0 1px #8bd1a0;
  color: #8bd1a0;
  font-size: 0.8rem;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}

.draw::before,
.draw::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.draw::before,
.draw::after {
  border: 1px solid transparent;
  width: 0;
  height: 0;
}

.draw::before {
  top: 0;
  left: 0;
}

.draw::after {
  bottom: 0;
  right: 0;
}

.draw:hover {
  color: #0071bc;
}

.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}

.draw:hover::before {
  border-top-color: #0071bc;
  border-right-color: #0071bc;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.draw:hover::after {
  border-bottom-color: #0071bc;
  border-left-color: #0071bc;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}

@media only screen and (max-width: 968px) {
  .d {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100%;
  }

  .s {
    height: 100%;
    border-right: none;
  }

  .ticker {
    font-size: 1rem;
  }

  .readme-img {
    left: 60%;
    position: absolute;
    width: 6em;
  }

  .img-left {
    padding-top: 1em;
    width: 100%;
  }

  .img-right {
    padding-left: 0em;
    padding-top: 1em;
    width: 100%;
    height: auto;
  }

  .logo img {
    height: 4rem;
    width: 4rem;
  }
}

@media only screen and (max-width: 600px) {
  .d {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: column repeat(1, 1fr);
  }
}
